<app-header></app-header>
<div id="about" class="paddsection">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4 ">
        <div class="div-img-bg">
          <div class="about-img">
            <img src="assets/images/aboutMe.jpg" class="img-responsive" alt="me">
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="about-descr">
          <p class="p-heading">I'm a Agricultural and Natural Resources Economist & Ph.D. Student </p>
          <p class="separator">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, magnam mollitia commodi repellendus cumque repellat
            explicabo molestias, incidunt numquam reiciendis consectetur eveniet quo ratione quisquam officia, ipsum reprehenderit
            maiores dicta perspiciatis nostrum nulla quidem. Doloribus maiores voluptates porro odit animi.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-portfolio></app-portfolio>
<app-highlight></app-highlight>
<app-contact></app-contact>