<div class="main-content paddsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="row" *ngFor="let education of educations">
          <div class="container-main single-main">
            <div class="block-main mb-30">
              <img src="{{education.img}}" class="img-responsive">
              <div class="content-main single-post padDiv">
                <div class="school">
                  <img src="{{education.logo}}" alt="{{education.school}}">
                  <h4>
                    <a href="#"> {{education.school}}</a>
                  </h4>
                </div>
                <div class="post-meta">
                  <ul class="mb-0">
                    <li *ngIf="education.status" class="status">Degree:
                      <span>{{education.status}} in {{education.area}}</span>
                    </li>
                    <li class="degree">Degree:
                      <span>{{education.level}} in {{education.area}}</span>
                    </li>
                    <li class="date">Awarded:
                      <span>{{education.graduation}}</span>
                    </li>
                  </ul>
                </div>
                <p class="mb-30 abstract">{{education.text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>