<div class="main-content paddsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="title">
          <h4>
            <blockquote>
              <img src="../../../assets/images/award-icon.png" alt="awardsIcon"> AWARDS
            </blockquote>
          </h4>
        </div>
        <div class="row" *ngFor="let award of awards">
          <div class="container-main single-main">
            <div class="block-main mb-30">
              <div class="content-main single-post padDiv">
                <div class="post-meta">
                  <ul class="mb-0">
                    <li class="awardTitle">
                      <img src="{{award.logo}}" alt="awardIcon"> {{award.honors}}
                    </li>
                    <li>Year:
                      <span>{{award.year}}</span>
                    </li>
                    <li>Location:
                      <span>{{award.location}}</span>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>